language: cpp

os:
  - linux
  - osx

env:
  - variant=debug
  - variant=release

branches:
  only:
    - master

# container-based builds
sudo: false
cache:
  directories:
    - $HOME/.ccache

# sources  list: https://github.com/travis-ci/apt-source-whitelist/blob/master/ubuntu.json,
# packages list: https://github.com/travis-ci/apt-package-whitelist/blob/master/ubuntu-precise
addons:
  apt:
    sources:
    - boost-latest
    - ubuntu-toolchain-r-test
    packages:
    - libboost1.55-all-dev
    - libboost1.55-tools-dev
    - g++-4.8
    - cmake

install:
  - 'if [ $TRAVIS_OS_NAME == "linux" ]; then echo "using gcc : : ccache g++-4.8 : <cflags>-std=c11 <cxxflags>-std=c++11 ;" > ~/user-config.jam; export CXX=g++-4.8; fi'
  - 'if [ $TRAVIS_OS_NAME == "osx" ]; then echo "using darwin : : ccache clang++ : <cflags>-std=c11 <cxxflags>-std=c++11 <compileflags>-Wno-deprecated-declarations ;" > ~/user-config.jam; fi'
  - if [ $TRAVIS_OS_NAME == "osx" ]; then brew update > /dev/null && brew install --quiet ccache boost-build && brew upgrade --quiet cmake ; fi
  - ccache -V && ccache --show-stats && ccache --zero-stats

script:
# until we have a version of boost-build that's new enough, disable warnings
# as errors
  - bjam --hash -j3 variant=$variant -l900 warnings-as-errors=off $toolset $target
  - mkdir build && cd build && cmake -DCMAKE_BUILD_TYPE=$variant .. && make -j3 && make test
  - ccache --show-stats

